<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheep | Discord Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://sheepu.me/">
    <meta property="og:title" content="Sheep | Discord Bot">
    <meta property="og:description"
        content="&#39;Sheep&#39; is a feature-rich Discord bot with the original twist of being sarcastic and memey. A MASSIVE currency system, tons of memes, and much more!">
    <meta property="og:image" content="https://i.imgur.com/b2blEry.png">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Be%20Vietnam%20Pro:400,900,900i" rel="stylesheet">
    <link rel="shortcut icon" href="https://i.imgur.com/b2blEry.png">
</head>

<body>
    <nav>
        <ul class="nav_links nav-closed">
            <li><a href="/">VỀ CHÚNG TÔI</a></li>
            <li><a href="/#features">TÍNH NĂNG</a></li>
            <li><a href="commands.html">COMMANDS</a></li>
            <li><a href="http://sheepu.me/">DONATE</a></li>
            <li>
                <div class="button-wrapper">
                    <button class="button btn"><a href="invite">THÊM BOT</a></button>
                </div>
            </li>
        </ul>
    </nav>
    <h1 style="margin: 50px">Trang web không hợp lệ</h1>
    <!-- <img class="img" src="img/404.png" /> -->
</body>

</html>